body{
    background-color:rgb(250, 94, 77);
}
.grid{
    display:grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:    " h h h h h h"                           
                            
                            "a a a a a a "
                            "f f f f f f";
    grid-gap: 0px;                                   
}

.grid header {
    grid-area: h;
    background-color: salmon;
}
.grid header #logo{
    border: 1px solid;
    
    
}
.grid header #menu{
    background-color:  salmon;
    
}

.grid #artigos { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a1 a2"
                         "a3 a4";
    grid-area:a ;
    grid-gap: 10px;
    
}
.grid #artigos .a1{
    grid-area: a1;
}
.grid #artigos .a2{
    grid-area: a2;
}
.grid #artigos .a3{
    grid-area: a3;
}
.grid #artigos .a4{
    grid-area: a4;
}
    
.grid #menu ul
{
    line-height: 40px;
    display: inline-flex;
    float: left;
    width: 98%;
    background-color: rgb(250, 94, 77);
    text-align: center;
   
    margin-left: inherit;
    margin-right: 40px;
   
    
    
}
.grid #menu li{
    widTH: 10%;
    padding-right: 40px;
    font-family: "Arial";
    display: inline-flex;
    text-align: center;
    
    padding-right: 50px;
    
    

}
.grid #menu a{
    width: 100%;
    
    color:white;
    text-align: center;
    font-family: 'Segoe UI';
    text-decoration: none;
   
    
    

}


.grid footer{
    border: 1px solid;
    grid-area: f;
    background-color: rgb(187, 26, 8); 
    padding: 60px;
    text-align:center;

